@import "../abstracts/variables";

.row{
  max-width: $grid-width;
//  if we have enough place then the row should take 1140px but if is not enough place row should
  //take the 100% of the available place

  @include respond(tab-port){
    max-width: 50rem;
  }

  margin: 0 auto;


  &:not(:last-child){
    margin-bottom: $gutter-vertical;
    @include respond(tab-port){
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include clearfix;

  [class^="col-"]{

    float:left;
    &:not(:last-child){
      margin-right: $gutter-horizontal;
      @include respond(tab-port){
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond(tab-port){
      width: 100% !important;
    }
  }
  //every element that starts with col- (this is an attribute
  //'*' symbol means that element should contains our phrase
  //'$' symbol means that element should ends with our phrase


//  not selects everything except the thing that we pass to the not
  .col-1-of-2{
    width: calc((100% - #{$gutter-horizontal})/2);
  //  we have to put sass variables in  curly brackets and add "#"

  }

  .col-1-of-3{
    width: calc((100% - 2*#{$gutter-horizontal})/3);

  }

  .col-2-of-3{
    width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
   //width: 300px;
  }

  .col-1-of-4{
    width: calc((100% - 3*#{$gutter-horizontal})/4);

  }
  .col-2-of-4{
    width: calc( 2*((100% - 3*#{$gutter-horizontal})/4) + #{$gutter-horizontal});
  }

  .col-3-of-4{
    width: calc( 3*((100% - 3*#{$gutter-horizontal})/4) + 2 * #{$gutter-horizontal});
  }
}
