.form{
  &__group:not(:last-child){
    margin-bottom: 2rem;
  }

  &__input{
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white,.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s;

    &:focus{
      outline: none;
      //we shouldn't only remove outline from focus. We should also add some different styles
      //for people who use browser only with keyboard
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primary;

      &:invalid{
        border-bottom: 3px solid $color-secondary-dark; //styling invalid input
      }
    }

    &::-webkit-input-placeholder{ // styling placeholder
      color: $color-grey-dark-2;
    }


  }




  &__label{
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;

    transition: all .3s;
  }

  &__input:placeholder-shown + &__label{ //+ is adjacent sibling selector | ~ is a general sibling selector
    //and it is used when we have more elements between our elements. VERY IMPORTANT: our sibling
    //element that we want to style has to be lower in sibling tree then out base element
    opacity: 0;
    visibility: hidden;//when we add opacity 0 our element is still id DOM but when we use
    //visibility hidden it really disappear.
    //We are using both of this attributes in this case because visibility couldn't be animated
    transform: translateY(-4rem);

  }
}