@import "../abstracts/mixins";

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*styles for all things on my page*/
}

html{
  font-size: 62.5%;
  /*root element for the rem
  we should set relative root font size*/

  @include respond(phone){
    font-size: 50%;

  }
  @include respond(tab-port){
    font-size: 60%;

  }
  @include respond(tab-land){
    font-size: 70%;

  }
  @include respond(big-desktop){
    font-size: 80%;

  }

}

body{

  box-sizing: border-box;
}